// unused variables
$a: 10px;
$b : 20px;
$unused    : #000;
$black: #000;

// used ones
$white: #fff !default;
$black-light: #111;
$black-lightest: #222;

// ignored
$ignored-variable: #ace;

  // fusv-disable
$disabled-variable: #bada55;
// fusv-enable

$enabled-variable: #b000b5;

// Other Folder
$other-folder-variable: red;
