---
---

@charset "utf-8";

.white {
  $nestedVar: red;

  background-color: $white;

  a {
    $nestNestedVar: blue;

    color: $black-light;
  }
}

.black-light {
  background-color: $black-light;
}

.black-lightest {
  background-color: $black-lightest;
}
